<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>

  	<img src="assets/images/Kalle_P6.png" align="center" valign="top" width="100%">
   
    <main id="content" class="main-content" role="main">
    
    <!-- a href="https://open.spotify.com/artist/1VkNoO2Us1nyZZWAgdpsds?si=GA2i4DPnQ66lv5NJSQwhUw&dd=1">Spotify</a -->
      <footer class="site-footer">      
        <a href="mailto:kalle@kalleahola.com">kalle@kalleahola.com</a>
      </footer>
    </main>
  </body>
</html>
